body {
    background-color: aquamarine;
}

h1 {
    color: red;
    font-size: 70px;
}

p{
    font-size: 24px;
    color: purple;
}

p a {
    color: purple;
}

#boba {
color: green;
}

.taco{
    color: yellow;
}